<div class="container pricePage">
	<div class="row">
		<div class="priceMainBody">
			<h2>Төлбөр</h2>
			<p>Таны эрхэлж буй бизнесийн үйлчилгээнд ирсэн захиалга, ажлын санал, түншлэлийн харилцаа зэрэгтэй холбогдох
				10 хүртэлх хүсэлтийг та өөрийнхөө бизнесийн онцлог, хүчин чадал, боломжид тулгуурлан шүүж сонгож
				холбогдох боломж 100% үнэгүй.</p>
			<p>Ийм хүсэлтүүдийг 10 хүртэлх тоогоор хязгаарлагдахгүй, байнгын авч байхыг хүсвэл сар бүр 16’600₮.</p>
			<p>Бид эхлээд өгье, бодит үр дүн гарсны дараа та төлбөрөө төлөөрэй.</p>
		</div>
		<div class="col-6">
			<div class="priceBox" style="margin-left:-15px;">
				<h2>Үнэгүй</h2>
				<h3>0₮</h3>
				<h6>Сард</h6>
				<hr>
				<p><i class="fas fa-caret-right"></i> Сар тутам 10 хүсэлт авах</p>
			</div>
		</div>
		<div class="col-6">
			<div class="priceBox" style="margin-right:-15px;">
				<h2>Энгийн багц</h2>
				<h3>16'600₮</h3>
				<h6>Сард</h6>
				<hr>
				<p><i class="fas fa-caret-right"></i> Хязгааргүй хүсэлт авах</p>
			</div>
		</div>
	</div>
</div>