<!-- Main Body -->
<div class="container whyUsMainBody1">
	<div class="row">
		<div class="leftCol">
			<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/why-us-1.png">
      </div>
			<div class="rightCol">
				<div class="titleLine">
					<h2>Эрхэм зорилго</h2>
					<hr>
					<p>Бидний эрхэм зорилго бол Таны ажил
						амьдралын<br/> бүтээмжийг нэмэгдүүлэх оновчтой холболтын платформ<br/> бүтээх юм.
            </p>
				</div>
			</div>
		</div>
	</div>
	<div class="container whyUsMainBody2">
		<div class="row">
			<div class="leftCol">
				<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/why-us-2.png">
      </div>
				<div class="rightCol">
					<div class="titleLine">
						<hr>
						<h2>Бид итгэдэг</h2>
						<p>Оновчтой холболтын платформыг бүтээхэд хамтын ажиллагаа
							чухал<br/> үүрэгтэй. Хамтын ажиллагаанд бид хэрэглэгч таныг ч багтаан<br/> ойлгодог учраас хэрэглэгч бүрд анхаарал хандуулан идэвхтэйгээр<br/> сонсож, асуудлыг нь ойлгож, шийдвэрлэхэд тулгуурлаж ажиллах<br/> хамгийн зөв гэдэгт бид итгэдэг.
            </p>
					</div>
				</div>
				<div class="infoBox">
					<div class="box1">
						<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/we-believe-1.png">
						<p>Сонсох</p>
					</div>
					<div class="box2">
						<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/we-believe-2.png">
						<p>Ойлгох</p>
					</div>
					<div class="box3">
						<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/we-believe-3.png">
						<p>Шийдвэрлэх</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container whyUsMainBody3">
			<div class="row">
				<div class="titleCol">
					<div class="titleLine">
						<hr>
						<h2>Зөвлөгчид</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="advisorWrapper">
			<div class="advisorCol">
				<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-1.png">
				<div class="advisorBox">
					<h2>Д.Энхбат</h2>
					<p>Founder<br/> at Karakorum Digital</p>
						<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/karakorum-logo.png">
      </div>
				</div>
				<div class="advisorCol">
					<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-2.png">
					<div class="advisorBox">
						<h2>И.Амгалан</h2>
						<p>Head of Technology<br/> department at Datacom</p>
							<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/datacom-logo.png">
      </div>
					</div>
					<div class="advisorCol">
						<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
						<div class="advisorBox">
							<h2>Б.Хүсэлбадрах</h2>
							<p>General Director<br/> at DZ GROUP</p>
								<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/dz-logo.png">
      </div>
						</div>
						<div class="advisorCol">
							<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
							<div class="advisorBox">
								<h2>Бахдам</h2>
								<p>General Director<br/> at CAML</p>
									<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/caml-logo.png">
      </div>
							</div>
							<div class="advisorCol">
								<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
								<div class="advisorBox">
									<h2>Ч.Мөнхбадрах</h2>
									<p>Business Consulting<br/> at Sanhuuch.mn</p>
										<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/sankhuuch-logo.png">
      </div>
								</div>
							</div>
							<div class="container whyUsMainBody3">
								<div class="row">
									<div class="titleCol">
										<div class="titleLine">
											<hr>
											<h2>Бид</h2>
											<p>Хэрэглэгчдийн асуудлыг ойлгох нь бидний зорилгодоо хүрэх түлхүүр билээ.
												Тиймээс<br/> зөвхөн бид биш хэрэглэгч та бид хамтдаа amarnet-ыг бүтээж байгаа бөгөөд цаашид ч<br/> хэрэглэгч нэг бүрд анхаарлаа бүрэн хандуулж ажиллах нь бидний эрхэм зүйл юм.
            </p>
										</div>
									</div>
								</div>
							</div>
							<div class="advisorWrapper2">
								<div class="advisorCol">
									<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-1.png">
									<div class="advisorBox">
										<h2>Э.Анар</h2>
										<p>Co-Founder</p>
									</div>
								</div>
								<div class="advisorCol">
									<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-2.png">
									<div class="advisorBox">
										<h2>Э.Анар</h2>
										<p>Co-Founder</p>
									</div>
								</div>
								<div class="advisorCol">
									<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
									<div class="advisorBox">
										<h2>Э.Анар</h2>
										<p>Co-Founder</p>
									</div>
								</div>
								<div class="advisorCol">
									<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
									<div class="advisorBox">
										<h2>Э.Анар</h2>
										<p>Co-Founder</p>
									</div>
								</div>
								<div class="advisorCol">
									<img class="advisorPortrait" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/advisor-3.png">
									<div class="advisorBox">
										<h2>Э.Анар</h2>
										<p>Co-Founder</p>
									</div>
								</div>
							</div>