<div class="container productPage">
	<div class="row">
		<div class="productTitle">
			<img class="logo" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/amarfinance.png">
			<img class="slogan" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/amar-slogan.png">
    </div>
		</div>
	</div>

	<div class="container productContent1">
		<div class="row">
			<p>Та ганцаараа зүтгэж буй бизнес эрхлэгч, эсвэл танайх хэдэн арван ажилчидтай компани аль нь ч бай танай
				бизнесийн санхүү бүртгэл, данс тооцоо цэгцтэй, гүйцэтгэлийн үзүүлэлт, тайлан мэдээ үргэлж бэлэн байх
				шаардлагатай. Гэвч бизнесийн салбарт нэгэнт нэвтэрсэн санхүү бүртгэлийн програм, онлайн систем,
				платформуудын дийлэнх нь ашиглалтын зардал өндөр, мэргэжлийн мэдлэг шаарддаг, эсвэл зөвхөн татварын
				тайлан гаргахад зориулагдсан гэх мэт сул талтай байдаг. Энэ асуудлын шийдэл нь АмарФинанс</p>
		</div>
	</div>
	<div class="container productContent2">
		<div class="row">
			<div class="col-6">
				<h2>Амар</h2>
				<p>Санхүүгийн мэргэжилтнээс авхуулаад, Санхүү, нягтлан бодох бүртгэлийн эсвэл техник технологийн гүнзгий
					мэдлэггүй хүн ч ашиглах боломжтой. Интернеттэй орчинд суурин эсвэл зөөврийн компьютер, таблет, гар
					утас зэрэг дурын төхөөрөмжөөс хандах боломжтой.</p>
			</div>
			<div class="col-6">
				<h2>Найдвахтай</h2>
				<p>Хэрэглэгчийг тодорхойлох имэйл хаяг, нууц үг шиферлэгдэж, санхүүгийн мэдээлэлд зөвхөн та болон таны
					нэвтрэх эрх өгсөн хэрэглэгчид нэвтэрнэ. Нэвтрэх эрх нь хэн ямар мэдээлэлд хэзээ хандах эрхтэй байхыг
					тохируулах боломжтой.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<h2>Ухаалаг</h2>
				<p>Бүх төрлийн бизнест тохирох тайлан тооцоо, бараа материалын бүртгэлийг бүртгэл хөтлөгч, борлуулалт
					хариуцагч гэх мэт ойлгомжтой ангилан бүртгэнэ. Дата аналитикийн тусламжтайгаар тайланг боловсруулж
					нэгтгэн ойлгомжтой тод харуулна.</p>
			</div>
			<div class="col-6">
				<h2>Хямд</h2>
				<p>Програм суулгалтын хураамж төлөх шаардлагагүй, урт хугацаанд үнэгүй ашиглаж үзэх боломжтой тул
					санхүүгийн болон цаг хугацааны эрсдэлгүй. Зах зээлд нэвтэрсэн ижил төстэй програмуудаас сарын
					хураамж хамгийн хямд бөгөөд жилээр тооцон төлсөн тохиолдолд илүү хөнгөлөлттэй. Шинээр хийгдэх
					модуль, хөгжүүлэлт 100% үнэгүй.</p>
			</div>
		</div>
	</div>

	<div class="container productContent3">
		<div class="row">
			<div class="col-6">
				<div class="productList">
					<div class="leftCol">
						<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-1.png">
        </div>
						<div class="rightCol">
							<h2>Нябо бүртгэл</h2>
							<p>Тод Системс платформд компанийн нябо бүртгэлийг хөтлөх нь санхүүгийн мэргэжилтнээс аваад
								бүртгэл тооцооллын талаар огт мэдлэггүй хүнд ч ойлгомжтой хялбар байх болно.</p>
						</div>
					</div>
					<div class="productList">
						<div class="leftCol">
							<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-2.png">
        </div>
							<div class="rightCol">
								<h2>Зөвшөөрөл олгох нарийвчлал</h2>
								<p>Системийг ашиглаж байгаа хэрэглэгчдийн хандалтыг тусгаарлах зорилгоор танай компанийн
									мэдээлэлд нэвтрэх хэрэглэгч бүрд хандах эрхийн тохиргоо хийх боломжтой.</p>
							</div>
						</div>
						<div class="productList">
							<div class="leftCol">
								<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-3.png">
        </div>
								<div class="rightCol">
									<h2>Өртгөтгөсөн тэмдэглэл</h2>
									<p>Эзэмшигч нь өөрийн үүсгэсэн датад орсон өөрчлөлт бүрийг хянах боломжтой.</p>
								</div>
							</div>
							<div class="productList">
								<div class="leftCol">
									<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-4.png">
        </div>
									<div class="rightCol">
										<h2>Мэдээлэл оруулах удирдамж бүхий систем</h2>
										<p>Аливаа мэдээлэл оруулах явцад алдаа гаргахаас урдьчилан сэргийлэх зорилготой
											дата оруулах удирдамж бүхий системтэй.</p>
									</div>
								</div>
								<div class="productList">
									<div class="leftCol">
										<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-5.png">
        </div>
										<div class="rightCol">
											<h2>Хяналт, Анализ хийх систем</h2>
											<p>Дата хяналт, анализ мэдээллүүдийг системээс автоматаар гаргах боломжтой.
											</p>
										</div>
									</div>
									<div class="productList">
										<div class="leftCol">
											<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-icon-6.png">
        </div>
											<div class="rightCol">
												<h2>Хэрэглэхэд хялбар</h2>
												<p>Ашиглахад маш энгийн бөгөөд хялбар интерфэй</p>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="productImgWrapper">
											<img class="productImg" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/product-1.png">
											<img class="productImgSlogan" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/amar-slogan.png">
      </div>
										</div>
									</div>
								</div>

								<div class="container productContent4">
									<h2 style="margin-bottom:100px;">Төлбөр</h2>
									<div class="row">
										<div class="col-3">
											<div class="paymentBox">
												<h2>Үнэгүй багц</h2>
												<h4>0₮</h4>
												<h6>Сард</h6>
												<h5 style="color:#ffffff;">-</h5>
												<p style="margin-top:-20px;color:#ffffff;">-</p>
												<hr>
												<p style="line-height:32px;">Нэг сарын борлуулалтын орлого 4.166.000₮
													буюу жилийн борлуулалтын орлого 50’000’000₮-с бага байх тохиолдолд
													бид нийгмийн хариуцлагын хүрээнд энгийн багцын үйлчилгээнийхээ
													төлбөрийг 100% хөнгөлнө.</p>
											</div>
										</div>
										<div class="col-3">
											<div class="paymentBox">
												<h2>Энгийн багц</h2>
												<h4>79'900₮</h4>
												<h6>Сард</h6>
												<h5><strong class="paymentAnnual">500'000₮</strong> / Жилээр</h5>
												<p style="margin-top:-20px;color:#ffffff;">-</p>
												<hr>
												<p><i class="fas fa-caret-right"></i> Бизнесийн үндсэн модуль</p>
												<p><i class="fas fa-caret-right"></i> 1 хэрэгэлгчийн эрх</p>
												<p><i class="fas fa-caret-right"></i> Үндсэн тайлан</p>
												<p class="inactive">Санхүүгийн шинжилгээ</p>
												<p class="inactive">Зөвлөх үйлчилгээ</p>
												<p><i class="fas fa-caret-right"></i> Операторын үйлчилгээ</p>
											</div>
										</div>
										<div class="col-3">
											<div class="paymentBox">
												<h2>Тод багц</h2>
												<h4>99'900₮</h4>
												<h6>Сард</h6>
												<h5><strong class="paymentAnnual">1'200'000₮</strong> / Жилээр</h5>
												<p style="margin-top:-20px;">Нэмэлт 1 хэрэглэгч тутамд +100'000₮</p>
												<hr>
												<p><i class="fas fa-caret-right"></i> Бизнесийн үндсэн модуль</p>
												<p><i class="fas fa-caret-right"></i> 3 хэрэгэлгчийн эрх</p>
												<p><i class="fas fa-caret-right"></i> Үндсэн тайлан</p>
												<p><i class="fas fa-caret-right"></i> Санхүүгийн шинжилгээ</p>
												<p class="inactive">Зөвлөх үйлчилгээ</p>
												<p><i class="fas fa-caret-right"></i> Операторын үйлчилгээ</p>
											</div>
										</div>
										<div class="col-3">
											<div class="paymentBox">
												<h2>Санхүүч багц</h2>
												<h4>-₮</h4>
												<h6>Сард</h6>
												<h5><strong class="paymentAnnual">Үнийн санал авна</strong></h5>
												<p style="margin-top:-20px;color:#ffffff;">-</p>
												<hr>
												<p><i class="fas fa-caret-right"></i> Бизнесийн үндсэн модуль</p>
												<p><i class="fas fa-caret-right"></i> 3 хэрэгэлгчийн эрх</p>
												<p><i class="fas fa-caret-right"></i> Үндсэн тайлан</p>
												<p><i class="fas fa-caret-right"></i> Санхүүгийн шинжилгээ</p>
												<p><i class="fas fa-caret-right"></i> Зөвлөх үйлчилгээ</p>
												<p><i class="fas fa-caret-right"></i> Операторын үйлчилгээ</p>
											</div>
										</div>
									</div>
								</div>

								<!-- Register Body -->
								<div id="productRegisterBody" class="eighthBody productRegisterBG">
									<div class="colorOverlay"></div>
									<div class="container registerFix">
										<div class="row">
											<div class="registerFormWrapper">
												<h2>Бидэнтэй нэгдэх</h2>
												<p>Та нэг бүртгэлээр <strong>amar</strong>finance болон<br/>
													<strong>amar</strong>net-ийг ашиглах боломжтой.</p>
												<div class="rWrapper">
													<form class="registerWrapper">
														<input id="rFullName" class="rFullName" type="text" placeholder="Нэр" aria-label="FullName">
														<input id="rEmail" class="rEmailAddress" type="email" placeholder="Мейл" aria-label="EmailAddress">
														<input id="rPhone" class="rPhoneNumber" type="number" placeholder="Утасны дугаар" aria-label="PhoneNumber">
														<button id="rSubmit" class="rSubmitButton" type="submit" style="background:#4d53e0">Бүртгүүлэх</button>
														<input id="rAgree" class="rAgreeCheck" type="checkbox" name="rAgreeCheck" value="Agreed"><span class="checkmark"></span>
														<label>Би <strong>amar</strong>net-н <span style="text-decoration:underline;"><strong>үйлчилгээний нөхцлийг</strong></span><br/>зөвшөөрч байна</label>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>