<!-- Mainbody -->
<div class="container mainBody">
	<h2><span class="lowercase strong">amar</span><span class="lowercase">net</span>
		<span class="uppercase"> ХЭРЭГЛЭГЧИДТЭЙГЭЭ , ХЭРЭГЦЭЭТЭЙГЭЭ холбогдоход хялбар боломжийг үүсгэнэ.</span></h2>
	<div class="container bodyButtons">
		<div class="row">
			<div class="col-6 colRightAlign">
				<div class="clientButton">
					Хэрэглэгчидтэйгээ <i class="fas fa-arrow-down"></i>
				</div>
			</div>
			<div class="col-6 colLeftAlign">
				<div class="usefulButton">
					Хэрэгцээтэйгээ <i class="fas fa-arrow-up"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="container mainBodyBottom">
		<div class="row">
			<div class="col-6">
				<p><strong>Аппликейшн татаж авах:</strong></p>
				<p>Веб хувилбар тун удахгүй...</p>
				<div class="container" style="margin:20px 0 0 0;padding:0;">
					<div class="row">
						<div class="col-3">
							<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/app-store.png">
							</div>
							<div class="col-3">
								<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/google-play.png">
							</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<p><span class="strong">amar</span>net beta хувилбар үйлчилгээнд суурилсан бизнесүүдэд зориулсан
							ба бүтээгдэхүүнд суурилсан бизнесүүд 2.0 хувилбараас эхлэн amarnet-д бүртгүүлэх боломжтой.
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Second Body -->
		<div class="container secondBody">
			<div class="row">
				<p class="mainText">Та өөрийн үйл ажиллагаа эрхэлдэг бизнесийн салбар дээр ирсэн хэрэглэгчдийн
					бүтээгдэхүүн, үйлчилгээ авах хүсэлтүүдийг нэг дор цаг алдалгүй мэдэж, холбогдох боломжтой боллоо.
				</p>
				<p class="mainText textCenter" style="margin-top:75px;">Шинэ хэрэглэгчид үүсгэж зах зээлээ тэлэх
					боломжийг өсгөнө.</p>
				<hr class="blueLine">
			</div>
			<div class="row iPhoneImages">
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iphone-1.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-down"></i></div>
					<p>Үнэгүй гишүүнчлэлээ үүсгээд салбараа сонгоод бүтээгдэхүүн, үйлчилгээгээ нэмэхэд та 3-5 минут
						зарцуулна.</p>
				</div>
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iphone-2.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-down"></i></div>
					<p>Бүтээгдэхүүн, үйлчилгээн дээрх хэрэглэгчдийн хүсэлтүүдийг ялгах шүүх боломжтой.</p>
				</div>
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iphone-3.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-down"></i></div>
					<p>Та бизнесийнхээ цаг болон боломжиндоо тохирсон хүсэлтийг сонгож холбогдох боломжтой.</p>
				</div>
			</div>
		</div>

		<!-- Third Body -->
		<div class="container thirdBody">
			<div class="row">
				<p class="mainText">Хэрэгцээтэй бүтээгдэхүүн үйлчилгээнийхээ ангилалаа сонгон хүсэлтээ бичиж илгээгээд
					ирсэн саналуудаас харьцуулан холбогдох боломжтой боллоо.</p>
				<p class="mainText textCenter" style="margin-top:75px;">Цаг хэмнэж сонголтоо зөв хийх боломжийг өсгөнө.
				</p>
				<hr class="redLine">
			</div>
			<div class="row iPhoneImages">
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iPhone-4.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-up"></i></div>
					<p>Хэрэгцээгээ тодорхойлоод тухайн үйлчилгээг үзүүлж буй хувь хүн/байгууллагууд уруу нэгэн зэрэг
						хүсэлтээ илгээнэ.</p>
				</div>
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iPhone-5.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-up"></i></div>
					<p>Таны хүсэлтэнд хариу санал илгээсэн хувь хүн, байгууллагуудын тухай, хийж гүйцэтгэсэн ажлууд
						зэрэг мэдээлэл авах боломжтой.</p>
				</div>
				<div class="col-4">
					<img src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/iPhone-6.png">
					<div class="iPhoneIcon"><i class="fas fa-arrow-up"></i></div>
					<p>Та хэрэгцээндээ нийцэн саналаа сонгож чатлах боломжтой.</p>
				</div>
			</div>
		</div>

		<!-- Fourth Body -->
		<div class="container fourthBody">
			<div class="row switchImages">
				<div class="col-5">
					<img id="imageSwitch1" class="iSActive" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/image-switch-1.png">
					<img id="imageSwitch2" class="iSInactive" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/image-switch-2.png">
					<img id="imageSwitch3" class="iSInactive" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/image-switch-3.png">
					<img id="imageSwitch4" class="iSInactive" src="https://stackblitz.com/files/amarnet-landing-page/github/Pomegranatine/amarnet-test-environment/master/src/assets/img/image-switch-4.png">
			</div>
					<div class="col-7">
						<div id="buttonSwitch1" onmouseenter="Switch1()" class="switcherText bSActive">Вебсайтнаас
							дутахгүй мэдээлэл өгч чадах профайл</div>
						<div id="buttonSwitch2" onmouseenter="Switch2()" class="switcherText bSInactive">Ойлгомжтой
							удирдлагын самбар</div>
						<div id="buttonSwitch3" onmouseenter="Switch3()" class="switcherText bSInactive">Хүсэлт илгээх
							хялбар загвар</div>
						<div id="buttonSwitch4" onmouseenter="Switch4()" class="switcherText bSInactive">Хүчирхэг чат
						</div>
					</div>
				</div>
			</div>

			<!-- Fifth Body -->
			<div class="fifthBody">
				<video controls>
					<source src="assets/vid/demo.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>

			<!-- Sixth Body -->
			<div class="container sixthBody">
				<div class="row">
					<p class="mainText">Та өөрийн үйл ажиллагаа эрхэлдэг бизнесийн салбарыг доорх 8 салбараас сонгон
						бүртгэлээ үүсгээрэй</p>
					<p class="subText">Дараах 8 салбарт харьяалагдах бизнесүүд beta хувилбараас эхлэн amarnet-ыг ашиглах
						боломжтой. <br/>amarnet beta хувилбар 1 сарын 21-нд нээлтээ хийнэ.</p>
				</div>
				<div class="row buttonBox">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-print"></i> Хэвлэл</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-mouse-pointer"></i> График, Дизайн</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-code"></i> Програм хангамж</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-pencil-alt"></i> Бичвэр</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
				</div>
				<div class="row buttonBox" style="margin-top:5px;">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon far fa-lightbulb"></i> Маркетинг</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-briefcase"></i> Мэргэжлийн үйлчилгээ</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-music"></i> Аудио, Видео/Анимейшн</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-crop-alt"></i> Интерьер дизайн</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
				</div>
			</div>

			<!-- Seventh Body -->
			<div class="container seventhBody">
				<div class="row">
					<p class="mainText">Дээрх 8 салбарт таны бизнесийн салбар ороогүй бол доорх 14 салбараас сонгон
						бүртгүүлээрэй</p>
					<p class="subText">Дараах 14 салбарууд amarnet 1.0 хувилбар нээлт хийх хүртэл буюу 04 сарын 21
						хүртэл дараалан нээгдэнэ.
						Бид<br/> салбарууд нээгдэх үед таны бүртгэлийн и-мэйл, утасны дугаараар дамжуулан мэдэгдэх болно.</p>
				</div>
				<div class="row buttonBox">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-gavel"></i> Хууль эрхзүй</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-calculator"></i> Санхүү тооцоолол</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-city"></i> Түрээс</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-bus"></i> Тээвэр зууч</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
				</div>
				<div class="row buttonBox" style="margin-top:5px;">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-paint-brush"></i> Гоо сайхан</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-user-friends"></i> Өрх гэр бүл</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-palette"></i> Гар урлал</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-car-side"></i> Автомашин</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
				</div>
				<div class="row buttonBox" style="margin-top:5px;">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-tshirt"></i> Оёдол захиалга</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-university"></i> Боловсрол</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-plane"></i> Амралт, аялал жуулчлал</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-running"></i> Дасгал хөдөлгөөн, чөлөөт цаг</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
				</div>
				<div class="row buttonBox" style="margin-top:5px;">
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-utensils"></i> Ресторан, зочлох үйлчилгээ</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-clinic-medical"></i> Эрүүл мэнд</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
						<span class="textLeft"><i class="gradientIcon fas fa-calendar-check"></i> Эвент</span>
						<span class="textRight"><i class="arrow fas fa-angle-right"></i></span>
					</div>
					<div class="col-3 buttonBoxItem">
					</div>
				</div>
				<form class="searchWrapper">
					<input class="searchForm" type="search" placeholder="Бизнесийн салбараа бичнэ үү" aria-label="Search">
					<button class="customFormButton" type="submit"><i class="fas fa-search"></i></button>
				</form>
				<p class="subText" style="font-size:18px;font-weight:300;">Хэрэв таны бизнес эрхэлдэг салбар байхгүй бол
					бидэнд<br/>мэдэгдэнэ үү.</p>
			</div>

			<!-- Register Body -->
			<div id="registerBody" class="eighthBody registerBG">
				<div class="colorOverlay"></div>
				<div class="container registerFix">
					<div class="row">
						<div class="registerFormWrapper">
							<h2>Бидэнтэй нэгдэх</h2>
							<div class="rWrapper">
								<form class="registerWrapper">
									<input id="rFullName" class="rFullName" type="text" placeholder="Нэр" aria-label="FullName">
									<input id="rEmail" class="rEmailAddress" type="email" placeholder="Мейл" aria-label="EmailAddress">
									<input id="rPhone" class="rPhoneNumber" type="number" placeholder="Утасны дугаар" aria-label="PhoneNumber">
									<button id="rSubmit" class="rSubmitButton" type="submit">Бүртгүүлэх</button>
									<input id="rAgree" class="rAgreeCheck" type="checkbox" name="rAgreeCheck" value="Agreed"><span class="checkmark"></span>
									<label>Би <strong>amar</strong>net-н <span style="text-decoration:underline;"><strong>үйлчилгээний нөхцлийг</strong></span><br/>зөвшөөрч байна</label>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>